.SpinnerContainer {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TitleBar {
  margin-bottom: 20px;
}

.TitleBar h1 {
  margin-bottom: 0;
}

.AddJobButton {
  margin-left: auto;
}

.AddJobButton > div {
  margin: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .TitleBar {
    display: flex;
  }

  .TitleBar {
    margin-bottom: 0;
  }

  .TitleBar h1 {
    margin-bottom: 1em;
  }
}
