.InputContainer {
  position: relative;
  margin-top: 20px;
}

.InputContainer input {
  width: 100%;
}

.Name {
  position: absolute;
  left: 0;
  top: 6px;
  transition: all 0.3s ease;
  color: rgb(121, 123, 141);
  font-size: 1em;
}

.ActiveName {
  top: -10px;
  font-size: 0.8em;
  color: rgb(161, 169, 238);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .InputContainer + .InputContainer {
    margin-left: 20px;
  }

  .InputContainer {
    margin-top: 0;
  }

  .ActiveName {
    font-size: 0.7em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .ActiveName {
    font-size: 0.8em;
  }
}
