.Container {
  display: flex;
  flex-direction: column;
}

.SpinnerContainer {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Job {
  padding: 40px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgb(241, 241, 241);
  position: relative;
  width: 100%;
}

.Actions {
  color: rgb(121, 123, 141);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.DeleteJob {
  cursor: pointer;
  transition: color 0.3s ease;
  color: #f3a8a0;
}

.DeleteJob:hover {
  color: #df6255;
}

.Action {
  cursor: pointer;
  transition: color 0.3s ease;
  color: rgb(161, 169, 238);
}
.Action:hover {
  color: rgb(117, 128, 231);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .Container {
    flex-direction: row;
  }

  .Job {
    width: 70%;
  }

  .Actions {
    width: 30%;
    padding-left: 40px;
  }
}
