.Page {
  padding: 20px;
  color: black;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .Page {
    overflow-y: scroll;
    padding: 40px;
    width: 80%
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}