* {
  box-sizing: border-box;
  margin: 0;
  border: none;
  outline: none;
}

body {
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(121, 123, 141);
  background-color: rgb(243, 243, 243);
}

input,
textarea {
  padding: 10px 0;
  box-shadow: none;
  border-bottom: 2px solid rgb(243, 243, 243);
  border-radius: 0;
  transition: border-bottom-color 0.3s ease;
}

textarea {
  font-family: inherit;
  width: 100%;
}

input:focus,
textarea:focus {
  border-bottom-color: rgb(161, 169, 238);
}

input:invalid,
textarea:invalid {
  box-shadow: none;
}

h1,
h2 {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
}
