.AuthBar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.Link {
  color: rgb(161, 169, 238);
  cursor: pointer;
  transition: color 0.3s ease;
}

.Link:hover {
  color: rgb(117, 128, 231);
}
